.content {
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.service{
	width: 1000px;
	height: 500px;
	margin: auto;
	margin-top:50px;
	background-color:#f4f6f7;
 ;
}



h1{
	align:center;
}

.proText {
	font-family: 'Open Sans', sans-serif;
}


div
{
	width:250px;
	height: 250px;
}

#content1{
	float:left; 
	margin:30px;
}

