<md-card class="service    proText">
<h2 align="center">Features and Services </h2>
<div id="content1">
	<img class ="center" src ='/assets/service1.jpg' style=" height: 200px; width:200px;">
	
	<p align="center">provide step by step innovation and feedback</p>
</div>

<div id="content1">
<img class ="center" src ='/assets/service2.jpg' style=" height: 200px; width:200px;">

<p align="center">personal engagements and assistance with CEOs</p>
</div>

<div id="content1">
<img class ="center" src ='/assets/service3.jpg' style=" height: 200px; width:200px;">

<p align="center">competitive approaches and designs</p>
</div>


 </md-card>