<md-card class ="openhead   proText">

<div>
<img src ='/assets/Kes_bio.jpg'>

<p>Kes (commonly known as Kes the Band or KTB) is a 
Caribbean soca music/ Pop music group formed in 2005 
and known for their unique blend of soulful vocals, Calypso music inspired melodies, 
rock music riffs and island beats, with hints of reggae. The band hails from the twin island Republic of Trinidad and Tobago and consists of founding members, brothers Kees Dieffenthaller (lead vocals), Hans Dieffenthaller (drums), 
and Jon Dieffenthaller (guitar), along with long-time friend Riad Boochoon (bass guitar)
</p>
	
</div>

<div style="margin-top:100px;">
<img src ='/assets/jlo.jpg'>

<p>KJennifer Lynn Lopez (born July 24, 1969) is an American singer, actress, dancer and producer.
 In 1991, Lopez began appearing as a Fly Girl dancer on In Living Color, where she remained a regular 
 until she decided to pursue an acting career in 1993
</p>
	
</div>

</md-card>
