<md-card class ="openhead   proText">
	
	
	<img class ="center" src ='/assets/mslogo.jpg'>
	
	
		<h1 align="center">MS Projex Solutions</h1>
		<p align="center">Solving Jamaica  the  coporate way</p>
	
</md-card>

<md-card class="service    proText">
<h2 align="center">Features and Services </h2>
<div id="content1">
	<img class ="center" src ='/assets/service1.jpg' style=" height: 200px; width:200px;">
	
	<p align="center">provide step by step innovation and feedback</p>
</div>

<div id="content1">
<img class ="center" src ='/assets/service2.jpg' style=" height: 200px; width:200px;">

<p align="center">personal engagements and assistance with CEOs</p>
</div>

<div id="content1">
<img class ="center" src ='/assets/service3.jpg' style=" height: 200px; width:200px;">

<p align="center">competitive approaches and designs</p>
</div>

<button md-button routerLink="/service" class="button1">
    <span>LEARN MORE</span>
    </button>
 </md-card>
    
<md-card class="bio   proText">
<h2 align="center">People you may know... </h2>

<div id="content1">
<button md-button routerLink="/bio">
<img class ="center" src ='/assets/Kes_bio.jpg' style=" height: 200px; width:200px;">
</button>
<p align="center">Kes The Band (CEO)</p>
</div>

<div id="content2">
<button md-button routerLink="/bio">
<img class ="center" src ='/assets/jlo.jpg' style=" height: 200px; width:200px;">
</button>
<p align="center">Jenifer Lopez (CEO)</p>
</div>
</md-card>


